/* Update the existing styles or create a new file: ../../styles/Navbar.css */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav ul li {
  display: inline-block;
  margin-right: 10px;

}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  padding: 14px 16px;

  cursor: pointer;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  /* justify-content: center;  */
  
  margin: 5px 0; /* Add margin for spacing */
}

.submenu-content a {
  color: black;
  text-decoration: none;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  /* justify-content: center; */
}

.dropdown-content a:hover {
  background-color: #dee4cf;
}

/* Hide dropdown when hover away */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .submenu-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  padding: 1px 1px;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-submenu:hover .submenu-content {
  display: block;
}

.submenu-btn {
  cursor: pointer;
}
